<ion-header>
  <ion-toolbar color="dark" class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div class="div-input">
    <ion-input class="input" text-center placeholder="Pesquisar mangá" (keyup)="pesquisar(manga)" [(ngModel)]="manga"></ion-input>
  </div>
  <ion-list class="lista">
    <ion-item class="item" *ngFor="let capa of capas;let i=index;" class="linha" (click)="detalhesManga(capa)">
      <td class="coluna">
        <img [src]="capa.attributes.posterImage.original" class="imgs" />
      </td>
      <td class="coluna" style="padding-left: 0px !important;">
        <h3 class="titulo fonte">{{capa.attributes.canonicalTitle}}</h3>
        <span class="sinpose fonte">{{sinpose[i]}}</span>
      </td>
    </ion-item>
  </ion-list>
</ion-content>